body {
    background: linear-gradient(to top, #7cc576 40%, #a3e0ff 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Calibri", sans-serif;
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .subtitle {
    font-size: 40px;
    font-weight: bold;
    color: #4CAF50;
  }