<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growing Up - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Growing <span>Up!</span></h1>
        <form class="login-box" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <div class="show-password">
            <input type="checkbox" id="show" onclick="togglePasswordVisibility()">
            <label for="show">SHOW</label>
            </div>
            <button type="submit">LOGIN</button>
            <p>Not a member? <a href="register.html">SIGN UP NOW</a></p>
        </form>

        <script>
            function togglePasswordVisibility() {
            const passwordField = document.getElementById('password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
            }
        </script>
    </div>
</body>
</html>
